<br>
<h1>List of your cars, <%=@user.username%>:</h1>
<h2>
  <%if @user.cars.length >= 1%>
    <%@user.cars.each do |car|%>
      <ul>
        <li><%=car.make%>: <a href = "/cars/<%=car.id%>"><%=car.name%></a></li><br>
      </ul>
    <%end%>
  <%end%>
</h2>
