<h2>Add a New Car</h2>

<h2><form action = "/cars" method = "post" autocomplete="off">
  Car Make:<br>
  <input type = "text" name = "make"><br><br>
  Car Model:<br>
  <input type = "text" name = "name"><br><br>
  Car year:<br>
  <input type = "number" name = "year"><br><br>
  Car Owner?<br>
  <select name = "user_id">
    <option value = "<%=current_user.id%>"><%=current_user.username%></option>
  </select><br><br>

  <input type="submit" value="submit">
</form></h2>
