<h1>Add a New Car</h1>

<h2><form action = "/cars" method = "post">
  Car Make:<br>
  <input type = "text" name = "make"><br>
  Car Name:<br>
  <input type = "text" name = "name"><br>
  Car year:<br>
  <input type = "number" name = "year"><br>
  Who Owns the Car?<br>
  <select name = "user_id">
    <option value = "<%=current_user.id%>"><%=current_user.username%></option>
  </select>

  <input type="submit" value="submit">
</form></h2>
