<!DOCTYPE html>
<html>
  <head>
    <title>Car List App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav>
      <%if logged_in?%>
        <a href="/cars/new"> Create Cars </a>
        <a href="/logout"> Log Out </a>
        <a href="/"> Home </a>
        <a href="/cars"> All Cars </a>
        <a href="/users/<%=current_user.id%>"> My Cars </a>
      <%else%>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>
    </nav>
    <div>
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
